

body
{
    background-color: #F4F4F4;
}

p
{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

img
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.row
{
    margin-left: 0px;
    margin-right: 0px;
}

.radio
{
    text-align: center;
    margin-bottom: 30px;
}

.radio label
{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]
{
    margin-left: 0px;
}

a, a:focus, a:hover, a:visited
{
    color: #898989;
    font-style: italic;
    text-decoration: underline;
    font-size: 11px;
}

.btn
{
    background-color: #0289D3;
    border-radius: 0px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    min-width: 130px;
    margin-bottom: 20px;
}

.form-control
{
    border-radius: 0px;
    border: 0px;
    background-color: #efefef;
    color: #606060;
    font-style: italic;
    font-size: 14px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    margin-bottom: 16px;
    margin-top: 15px;
}

.vertical-center {
  min-height: calc(100% - 15px); /*-15px from the Top Color Bar*/
  min-height: calc(100vh - 15px); /*-15px from the Top Color. Otherwise, scroll bar will appear Bar*/
      
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  width: 100%;
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}

.container-narrow
{
    max-width: 350px;
}

.main-block
{
    background-color: #ffffff;
}

.blue-block
{
    background-color: #0289D3;
    height: 7px;
}

.text-primary
{
    font-size: 20px;
    color: #1C1C1C;
}

.text-secondary
{
    font-size: 11px;
    color: #898989;
    padding-left: 50px;
    padding-right: 50px;
}

.text-bold-1
{
    font-weight: 900;
    font-size: 36px;
    line-height: 35px;
}

.text-bold-2
{
    font-weight: 900;
    font-size: 20px;
}

